.ticket-entry
  = hidden_field_tag :id, ticket.id
  .ticket-table
    %ul.cell
      %li.dropdown
        %a.dropdown-toggle{ href: "#", 'data-toggle' => "dropdown" }
          %i.ticket-status-icon.fa{ class: ticket.status_icon_class, title: ticket.status_name, value: ticket.status }
          %ul.dropdown-menu
            = render 'shared/ticket_status_options'
    %i.cell.fa.fa-paperclip{ title: ticket.token }
    .department.cell
      %span
        = ticket.department_name
    .subject.cell
      = ticket.subject
    %ul.cell
      %li.dropdown
        %a.dropdown-toggle{ href: "#", 'data-toggle' => "dropdown" }
          %i.ticket-user_id-icon.fa.fa-user{ title: ticket.user.present? ? "Owner: #{ ticket.user.email }" : "Unassigned" }
          %ul.dropdown-menu
            = render User.all
  .description
    %textarea{ readonly: true }
      = ticket.description
