.ticket-entry
  = hidden_field_tag :id, ticket.id
  .ticket-table
    %ul.status
      %li.dropdown
        %a.dropdown-toggle{ href: "#", 'data-toggle' => "dropdown" }
          %i.fa{ class: ticket.status_icon_class, title: ticket.status_name, value: ticket.status }
          %ul.dropdown-menu
            = render 'shared/ticket_status_options'
    %i.fa.fa-paperclip{ title: ticket.token }
    .department
      %span
        = ticket.department_name
    %div
      .subject
        = ticket.subject
    %ul.owner
      %li.dropdown
        %a.dropdown-toggle{ href: "#", 'data-toggle' => "dropdown" }
          %i.fa.fa-user{ title: ticket.user.present? ? "Owner: #{ ticket.user.enail }" : "Unassigned" }
          %ul.dropdown-menu
            = render User.all
  .description
    bla-bla-bla
    bla-bla-bla
    bla-bla-bla
